# Python cache
__pycache__/
*.pyc

# Pytest
.cache/
.pytest_cache/

# Pytest coverage
.coverage
code_coverage/

# docs build
_build/
code_docs/

# build
build/
dist/
*egg-info/

# ansible
*.retry
ansible-env/

# terraform
terraform.tfplan
terraform.tfstate
*.tfstate*
.terraform/

# Node
node_modules/

# misc
.DS_Store
.vscode