# Python cache
__pycache__/
*.pyc

# Pytest
.cache/
.pytest_cache/

# Pytest coverage
.coverage
code_coverage/

# Build
build/
dist/
*egg-info/

# Ansible
*.retry
ansible-env/

# Python env
*.env

# Misc
.DS_Store
